:root {
  font-family: "DM Mono", "Courier New", monospace;
  color: #e9e9e2;
  background: #111514;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}
button,
a {
  font: inherit;
}
button {
  cursor: pointer;
}
